<div class="position-content">
  <a [routerLink]="['/content',rowContentId]">
    <p class=" position position-title">{{rowTitle}}</p>
  </a>

  <section class="progress">
    @if(accountId === user) {
    <i class="fa-solid fa-minus clickable" id="minusBtn" (click)="decrementEpisodesCount()"></i>
    <span class="progress-counter" id="counter">{{rowProgress}} / {{episodes}}</span>
    <i class="fa-solid fa-plus clickable" id="plusBtn" (click)="incrementEpisodesCount()"></i>
    } @else{
    <span class="progress-counter">{{rowProgress}} / {{episodes}}</span>
    }
  </section>
  <p class="position position-score">{{rowContentScore}}</p>
  <p class="position position-type">{{rowType}}</p>
  <span class="position position-genre">
    <p *ngFor="let genre of rowGenres" class="genre">{{ genre }}</p>
  </span>
  <img alt="" title="" src="{{rowContentCover}}">
</div>
