.container {
  min-height: 84vh;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

#profile-info {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 2% 2% 0 2%;
}

#profile-nav {
  padding: 2% 2% 0 2%;
  width: 100%;
  margin-bottom: 1em;
  height: fit-content;
  min-height: 2.25cm;
  box-sizing: border-box;
}
#table {
  width: 100%;
  height: fit-content;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0 0 10px 10px;
  padding: 0 2% 2% 2%;
}


