<section id="tags">
    <i class="fa-solid fa-tag"></i>
    @if(this.options.Name){
        <article class="tag" (click)="changedOptions('Name', this.options.Name)"> {{ this.options.Name }} </article>
    }
    @if(this.options.Genres){
        @for(item of this.options.Genres; track $index){
            <article class="tag" (click)="changedOptions('Genres', item)"> {{ item }}</article>
        }
    }
    @if(this.options.Year){
        <article class="tag" (click)="changedOptions('Year', this.options.Year)"> {{ this.options.Year }} </article>
    }
    @if(this.options.Season){
        <article class="tag" (click)="changedOptions('Season', this.options.Season)"> {{ this.options.Season }} </article>
    }
    @if(this.options.Format){
        <article class="tag" (click)="changedOptions('Format', this.options.Format)"> {{ this.options.Format }} </article>
    }
</section>