<section id="tags">
    <i class="fa-solid fa-tag"></i>
    @if(this.options.name){
        <article class="tag" (click)="changedOptions('name', this.options.name)"> {{ this.options.name }} </article>
    }
    @if(this.options.genres){
        @for(item of this.options.genres; track $index){
            <article class="tag" (click)="changedOptions('genres', item)"> {{ item }}</article>
        }
    }
    @if(this.options.year){
        <article class="tag" (click)="changedOptions('year', this.options.year)"> {{ this.options.year }} </article>
    }
    @if(this.options.season){
        <article class="tag" (click)="changedOptions('season', this.options.season)"> {{ this.options.season }} </article>
    }
    @if(this.options.format){
        <article class="tag" (click)="changedOptions('format', this.options.format)"> {{ this.options.format }} </article>
    }
</section>