<main>
    <app-hero title="Sousou No Frieren"
        description="The adventure is over but life goes on for an elf mage just beginning to learn what living is all about. Elf mage Frieren and her courageous fellow adventurers have defeated the Demon King and brought peace to the land. But Frieren will long outlive the rest of her former party. How will she come to understand what life means to the people around her?"
        imageSource="../../assets/frieren.jpg"></app-hero>
    <app-searchbar></app-searchbar>
    @for(item of [1]; track $index){
    <app-animelist></app-animelist>
    }
</main>