<aside class="aside-anime-information">
    <section class="anime-info-container">
        <article *ngFor="let item1 of infoTitle" class="anime-data">
            <article *ngFor="let item2 of information" class="anime-data">
                <p>{{ item1 }}</p>
                <p *ngIf="item1 === 'Year'">{{ item2.year }}</p>
                <p *ngIf="item1 === 'Type'">{{ item2.type }}</p>
                <p *ngIf="item1 === 'Episodes Number'">{{ item2.episodesNumber }}</p>
                <p *ngIf="item1 === 'Season'">{{ item2.season }}</p>
            </article>
        </article>
    </section>
</aside>



<!-- 
<article *ngFor="let item of informacion" class="anime-data">
    <p>{{ item.title }}: {{ item.info }}</p>
</article>
 -->