.aside-anime-information {
    box-sizing: border-box;
    width: auto;
    margin: 1% 1% 1% 8%;
    padding: 30px;
}

.anime-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100%;
    width: 20vw;
    background: #1d1d1f;
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
}

.aside-anime-information {
    box-sizing: border-box;
    width: auto;
    margin: 1% 1% 1% 8%;
}

.anime-info-container .anime-data {
    color: white;
    text-align: center;
    height: fit-content;
    box-sizing: border-box;
    justify-content: center;
}

.anime-data {
    margin-bottom: 15.35%;
}

.anime-data  p:first-child {
    font-size: var(--medium-big-font-size);
    margin-top: 13%;
    font-weight: bold;
    max-width: 80%;
    margin-left: 10%;
}

.anime-data p:nth-child(2) {
    max-width: 80%;
    margin-left: 10%;
    height: 40%;
    opacity: 0.8;
    
}

.info-line {
    margin-bottom: 5px; 
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* Tablet */
@media only screen and (max-width: 1200px) {
    .aside-anime-information {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        justify-content: space-between;
        width: auto;
        margin: 1% 1% 1% 1%;
        padding: 30px;
        overflow-x: auto;
    }
    
    
    .anime-info-container {
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        height: 15vh;
        min-height: 6.75em;
        overflow: auto;
        gap: 20%;
    }
    
    .anime-info-container .anime-data {
        align-items: center; 
        text-align: center;
        justify-content: center;
        margin: 1% 1% 1% 3%;
    }

    .aside-main-content-container .aside-anime-information {
        flex: 2;
        box-sizing: border-box;
        height: auto;
    }
    

    

    
}

/* Phones */
@media only screen and (max-width: 750px) {
    
}