
<div id="overlay" (click)="closesignUp()"></div>
<main class="container">
  <h1 class="container-title">Sign Up</h1>
  <i aria-hidden="true" class="fa fa-times" id="closeSignInBtn" (click)="closesignUp()"></i>
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="container-form">
    <label class="container-form-label" for="username">
      <input class="container-form-input form-control" id="username" formControlName="username" placeholder="Enter your username" required type="text" [ngClass]="{'valid': form.get('username')?.valid, 'invalid': form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)}">
    </label>
    <div *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)" class="alert">
      <div *ngIf="form.get('username')?.errors?.['required']" class="error-message">Username is required.</div>
      <div *ngIf="form.get('username')?.errors?.['minlength']" class="error-message">Username must be at least 2 characters long.</div>
    </div>

    <label class="container-form-label" for="email">
      <input class="container-form-input" id="email" formControlName="email" placeholder="Enter your email" required type="email" [ngClass]="{'valid': form.get('email')?.valid, 'invalid': form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)}">
    </label>
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="alert">
      <div *ngIf="form.get('email')?.errors?.['required']" class="error-message">Email is required.</div>
      <div *ngIf="form.get('email')?.errors?.['email']" class="error-message">Invalid email format.</div>
    </div>

    <label class="container-form-label" for="password">
      <input class="container-form-input" id="password" formControlName="password" placeholder="Enter your password" required type="password" [ngClass]="{'valid': form.get('password')?.valid, 'invalid': form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)}">
    </label>
    <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)" class="alert">
      <div *ngIf="form.get('password')?.errors?.['required']" class="error-message">Password is required.</div>
      <div *ngIf="form.get('password')?.errors?.['pattern']" class="error-message">Invalid password format. Password must contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long.</div>
    </div>
    <label class="container-form-label" for="repeat_password">
      <input class="container-form-input" id="repeat_password" formControlName="repeat_password"
             placeholder="Repeat your password" required type="password" [ngClass]="{'valid': form.get('repeat_password')?.valid, 'invalid': form.get('repeat_password')?.invalid && (form.get('repeat_password')?.dirty || form.get('repeat_password')?.touched)}">
    </label>
    <div *ngIf="form.hasError('passwordMismatch')" class="alert">
      <div class="error-message">Passwords do not match.</div>
    </div>
    <p class="container-form-message">Already signed up? <a class="container-form-link" href="#" id="loginLink">Log in</a></p>
    <button class="container-form-button" type="submit">Sign In</button>
  </form>
</main>
