.anime-row {
    width: 100%;
    color: var(--snow-color);
    margin-bottom: 5%;

}

.row-name {
    text-align: center;
    font-size: large;
    font-weight: bold;
}



.row-animes::-webkit-scrollbar {
    display: none;
}
.row-animes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    overflow: auto;
    white-space: nowrap;
    gap: 1rem;
}