

body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background: hsl(240, 16%, 18%);
    backdrop-filter: blur(10px);
}

.navbar-main-content .episodes {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    max-height: 98%;
    height: 98%;
}
#anime-body main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.aside-main-content-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2%;
}

.aside-main-content-container .aside-anime-information {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  margin: 1% 1% 1% 8%;
}

.navbar-main-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 1% 8% 1% 1%;
}


/* Tablet */
@media only screen and (max-width: 1200px) {
    .aside-main-content-container {
      flex-flow: column nowrap;
      width: auto;
    }
    .aside-main-content-container .aside-anime-information {
      box-sizing: border-box;
      width: 100%;
    }
    .navbar-main-content {
      width: auto;
      margin: 1% 4% 1% 4%;
    }
}





/* Phones */
@media only screen and (max-width: 750px) {

}
