<div id="overlay" (click)="signInClicked()"></div>
<main class="container">
  <h1 class="container-title">Sign In</h1>
  <i aria-hidden="true" class="fa fa-times" id="closeSignInBtn" (click)="signInClicked()"></i>
  <form [formGroup]="form" (ngSubmit)="signInClicked()" class="container-form">
    <label class="container-form-label" for="username">
      <input class="container-form-input form-control" id="username" formControlName="username" placeholder="Enter your username" required type="text" >
      <div *ngIf="username?.invalid" class="alert">
        <div *ngIf="username.errors?.['required']">username is required.</div>
        <div *ngIf="username.errors?.['minlength']">username must be at least 2 characters long.</div>
      </div>
    </label>
    <label class="container-form-label" for="email">
      <input class="container-form-input" id="email" formControlName="email" placeholder="Enter your email" required type="email">
    </label>
    <label class="container-form-label" for="password">
      <input class="container-form-input" id="password" formControlName="password" placeholder="Enter your password" required type="password">
    </label>
    <p class="container-form-message">Already signed up? <a class="container-form-link" href="#" id="loginLink">Log in</a></p>
    <button class="container-form-button" type="submit">Sign In</button>
  </form>
</main>
