<div id="overlay" (click)="signInClicked()"></div>
<main class="container">
  <h1 class="container-title">Sign In</h1>
  <i aria-hidden="true" class="fa fa-times" id="closeLoginBtn" (click)="signInClicked()"></i>
  <form [formGroup]="form" class="container-form" method="post">
    <label class="container-form-label">
      <input class="container-form-input" name="username" id="username" formControlName="username"
             placeholder="Username" required type="text">
    </label>
    <label class="container-form-label">
      <input class="container-form-input" name="password" id="password" formControlName="password"
             placeholder="password" required type="password"
             [ngClass]="{'valid': form.get('password')?.valid, 'invalid': form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)}">
    </label>
    <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
         class="alert">
      <div *ngIf="form.get('password')?.errors?.['required']" class="error-message">Password is required.</div>
      <div *ngIf="form.get('password')?.errors?.['pattern']" class="error-message">Invalid password format. Password
        must contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long.
      </div>
    </div>
    <div *ngIf=errorLogin class="error-message">
      Error trying to sign in, check user or password doesnt exist
    </div>
    <p class="container-form-message">Not signed up? <a class="container-form-link" id="signupLink" (click) ="redirectSignUp()">Sign
      up</a></p>
    <button class="container-form-button" type="submit" (click)="login()">Log In</button>
  </form>
</main>
