<section class="table-descriptor">
  <p class="table-title">Title</p>
  @if(!isDropped){
  <p class="table-title">User Score</p>
  } @else {
    <p class="table-title">Year</p>
  }
  <p class="table-title">Score</p>
  <p class="table-title">Type</p>
  <p class="table-title last_title">Genres</p>
</section>

<ng-container *ngIf="list">
  <ng-container *ngFor="let item of list | keyvalue">
    <app-normal-row
      [rowTitle]="item.value.title"
      [rowContentCover]="item.value.coverImg"
      [rowContentScore]="item.value.score"
      [rowType]="item.value.type"
      [rowYear]="item.value.year"
      [isDropped]="isDropped"
      [rowUserScore]="item.value.userScore"
      [rowContentId]="item.key"
      class="positions">
    </app-normal-row>
  </ng-container>
</ng-container>


@if(false){
  <app-emergency-popup></app-emergency-popup>
}
