<section class="table-descriptor">
  <p class="table-title">TEXT</p>
  <p class="table-title">TEXT</p>
  <p class="table-title">TEXT</p>
  <p class="table-title">TEXT</p>
  <p class="table-title last_title">TEXT</p>
</section>

<ng-container *ngIf="list">
  <ng-container *ngFor="let item of list | keyvalue">
    <app-normal-row
      [rowTitle]="item.value?.title"
      [rowContentCover]="item.value?.coverImg"
      [rowContentScore]="item.value?.score"
      [rowType]="item.value?.type"
      [rowYear]="item.value?.year"
      [isDropped]="isDropped"
      class="positions">
    </app-normal-row>
  </ng-container>
</ng-container>


@if(false){
  <app-emergency-popup></app-emergency-popup>
}
