<section class="table-descriptor">
  <p class="table-title">TEXT</p>
  <p class="table-title">TEXT</p>
  <p class="table-title">TEXT</p>
  <p class="table-title">TEXT</p>
  <p class="table-title last_title">TEXT</p>
</section>
@for (content of list; track content?.id) {
  <app-normal-row
    [rowTitle]= "content?.title"
    [rowContentCover]="content?.coverImg"
    [rowContentScore]="content?.score"

    [rowType]="content?.type"
    [rowYear]="content?.year"
    [isDropped]="isDropped"
    class="positions"></app-normal-row>
     <!--
     [rowGenre]="content?.genre"
     [rowUserScore]="userScore"
     -->
}


@if(false){
<app-emergency-popup></app-emergency-popup>
}
