.review-content {
  width: fit-content;
  color: var(--snow-color);
  align-items: center;
  display: flex; /* Add flex display */
  flex-direction: column; /* Column layout */
}

.review-container {
  width: 100%;
  min-width: 30%;
  padding: 1em;
  border-radius: 1.5em;
  flex-direction: column;
  margin-top: 20px; /* Add margin for spacing */
  display: flex; /* Add flex display */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.review {
  width: 100%;
  border-radius: 1em;
  margin-bottom: 20px;
}

button {
  background-color: var(--snow-color);
  padding: .8rem 1.1rem;
  margin: auto 1rem;
}
