<section class="characters">
    <article class="character">
        <div class="anime-character-container" *ngFor="let character of characters2">
            <div class="anime-character-name-image">
                <a (click)="toggleDescription(character)" *ngIf="!character.showDescription" class="character-name">{{ character.name }}</a>
                <a (click)="toggleDescription(character)" *ngIf="character.showDescription" class="character-description">{{ character.description }}</a>
                <img alt="" title="" [src]="character.img">
            </div>
        </div>
    </article>
</section>
