<section class="hero">
    <a title="content redirection" [routerLink]="['/content', this.id]">
        <img alt="an-anime-image" id="anime-img" [src]="imageSource">
        <div id="hero-content-data">
            <p id="anime-name"> {{ title }} </p>
            <p id="anime-desc"> {{ description }} </p>
            <div class="anime-info">
                @for(data of this.info; track $index){
                    <div>
                        <span class="data-id"> {{ data.id | titlecase }} </span>
                        <span class="data-value"> {{ data.value }} </span>
                    </div>
                }
            </div>
        </div>
    </a>
</section>