<div class="position-content">
  <p class=" position position-number" (click)=redirectToContent()>{{rowTitle}}</p>
  @if(!isDropped){
    <p class="position position-title">{{rowUserScore}}</p>
  } @else {
    <p class="position position-title">{{rowYear}}</p>
  }
  <p class="position position-score" >{{rowContentScore}}</p>
  <p class="position position-user-score">{{rowType}}</p>
  <p class="position position-status">{{rowGenre}}</p>
  <img alt="" title="" src= "{{rowContentCover}}" (click)=redirectToContent()>
</div>
