<div class="top-header-content">
  <img title="web-logo" alt="logo of our website" src="../../../favicon.ico">
  <nav>
    <a id="home-anchor" routerLink="/home">Home</a>
    <a id="ranking-anchor" routerLink="/ranking">Ranking</a>
    <a id="profile-anchor" routerLink="/profile">Profile</a>
  </nav>
  <div class="top-header-content-buttons">
    <button id="signInButton" name="Sign In" (click)="showSignIn()">Sign In</button>
    <button id="signUpButton" name="Sign Up" (click)="showSignUp()">Sign Up</button>
   </div>
</div>
<app-sign-in *ngIf="showSignInModal" (signIn)="handleSignIn($event)"></app-sign-in>
<app-sign-up *ngIf="showSignUpModal" (signUp)="closeSignUpModal()"></app-sign-up>
