.anime-card a{
    height: fit-content;
    width: fit-content;
    color: var(--snow-color);
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
}

.anime-name {
    flex: 1;
    opacity: 0.6;
    text-align: center;
    border: 1px solid red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.anime-cover {
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
    min-height: 25rem;
    flex: 10;
}

