.anime-card a{
    height: fit-content;
    width: fit-content;
    color: var(--snow-color);
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

.anime-name {
    flex: 1;
    opacity: 0.6;
    text-align: center;
}

.anime-cover {
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
    width: 15rem;
    min-height: 25rem;
    flex: 10;
}

