#search-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 75%;
    gap: 1em;
    box-sizing: border-box;
    height: fit-content;
    position: relative;
}

/* -----------------------Search Input Styling --------------------------*/

#search {
    flex: 1;
    color: var(--snow-color);
    box-sizing: border-box;
}

#search-box {
    height: 2.5rem;
    position: relative;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
}

#search-box input {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background: transparent;
    outline: none;
}



/* -----------------------Search Input Styling --------------------------*/

.filter {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    color: var(--snow-color);
} 

.filter-button {
    position: relative;
    height: fit-content;
    box-sizing: border-box;
    color: var(--black);
}

.filter-button button {
    height: 2.5rem;
    width: 100%;
    outline: none;
    background: var(--snow-color);
    border: 1px solid var(--black);
    box-shadow: var(--black-box-shadow);
}

.filter-button i {
    position: absolute;
    right: 5%;
    top: 30%;
}

/* --------------- Dropdown Input Menus ------------------- */

.filter-dropdown {
    display: none;
    flex-flow: column nowrap;
    height: auto;
    margin-top: 1%;
    width: calc((100% / 5) - 0.75em);
    gap: 0.75em;
    color: var(--snow-color);
    background: var(--black-ex);
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
    max-height: 20rem;
    overflow: auto;
    position: absolute;
    z-index: 50;
}

.dropwdown-option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    padding: 7.5% 2.5%;
    font-weight: bold;
}

.dropwdown-option p:hover {
    opacity: 0.75;
    cursor: pointer;
}

@media screen and (width >= 75rem) {
    #show-filters {
        display: none;
    }
}

@media screen and (width < 75rem) {
    #show-filters {
        display: block;
        width: 10%;
        background-color: var(--snow-color);
        height: 2.5rem;
    }
    #search-bar {
        flex-flow: row wrap;
        align-items: end;
        gap: 5%;
        row-gap: 1.5rem;
    }
    #search {
        min-width: 80%;
    }
}

@media screen and (width < 35rem) {
    #search {
        min-width: 100%;
    }
    #show-filters {
        display: none;
    }
}