<section id="search-bar" [ngStyle]="{'margin': page() === 'index' ? '5% auto' : '5% auto 2.5% auto'}">
    <!-- Search Tag -->
    <div id="search">
        <label for="search-input"> Search </label>
        <div id="search-box" [ngStyle]="{'background': this.searchMode === '' ? 'var(--snow-color)' : this.searchMode === 'normal' ? 'var(--search-bar-green)' : 'var(--search-bar-red)'}">
            <input type="search" id="search-input" [formControl]="name" #searchinput>
        </div>
    </div>

    <button id="show-filters" (click)="clickFilterButton()">
        <i class="fa-solid fa-arrow-down-short-wide" aria-hidden="true"></i>
    </button>

    <!-- For each dropdown menu -->
   @for(item of this.optionsBuilder.getKeys(); track $index){
        <div [id]="item" class="filter" [ngStyle]="{'display': this.showFilters() ? 'block' : 'none'}">
            <label [for]="item + '-button'"> {{ item | titlecase }} </label>
            <div [id]="item + '-box'" class="filter-button">
                @if(item === 'genres'){
                    <button [id]="item + '-button'" class="searchbar-button" (click)="handleFilterClick($index)" [ngStyle]="{'background': this.searchMode === '' ? 'var(--snow-color)' : this.searchMode === 'normal' ? 'var(--search-bar-green)' : 'var(--search-bar-red)'}"></button>
                }@else if(item === "year" || item === "season"){
                    <button [id]="item + '-button'" class="searchbar-button" (click)="handleFilterClick($index)" [ngStyle]="{'background': this.searchMode === '' ? 'var(--snow-color)' : this.searchMode === 'time' ? 'var(--search-bar-green)' : 'var(--search-bar-red)'}"></button>
                }@else{
                    <button [id]="item + '-button'" class="searchbar-button" (click)="handleFilterClick($index)"></button>
                }
                <i class="fa-solid fa-arrow-down" aria-hidden="true"></i>
            </div>
            <!-- For each option of the dropwdown menu -->
            <div [ngStyle]="{ 'display': buttonsSelected[$index] ? 'flex' : 'none' }" [id]="item + 'dropdown'" class="filter-dropdown">
                <!-- For the genres dropdown menu using checkbox -->
                @if(item == "genres"){
                    @for(subitem of this.optionsBuilder.getOptions()[$index]; track $index){
                        <div [id]="subitem" class="dropwdown-option">
                            <p (click)="emitOptions(item, subitem)" [ngStyle]="{'color':this.options[item].includes('' + subitem) ? 'var(--dull-blue)' : 'var(--snow-color)'}"> {{ subitem }} </p>
                        </div>
                    }
                }@else if (item == "year" || item == "season" || item == "format"){
                    <!-- For the genres dropdown menu using radiobuttons -->
                    @for(subitem of this.optionsBuilder.getOptions()[$index]; track $index){
                        <div [id]="subitem" class="dropwdown-option">
                            @if(item == "season"){
                                <p (click)="emitOptions(item, subitem)" [ngStyle]="{'display': isValidSeason(subitem) ? 'block' : 'none', 'color':this.options[item] === subitem ? 'var(--dull-blue)' : 'var(--snow-color)'}"> {{ subitem | titlecase }} </p>
                            }@else{
                                <p (click)="emitOptions(item, subitem)" [ngStyle]="{'color':this.options[item] === subitem ? 'var(--dull-blue)' : 'var(--snow-color)'}"> {{ subitem | titlecase }} </p>
                            }
                        </div>
                    }
                }
            </div>
        </div>
   }
</section>
