
<!-- Review Display Section -->
<div *ngIf="showMode && !editMode && !showModal ">

  <div class="review-container">
    <div class="image-section">
      <a [routerLink]="['/profile', userName, 'watching']">
      <img class="user-pfp" src= "../../../../../favicon.ico" alt="{{userName}} profile picture" >
      </a>
      <p class="username">{{userName}}</p>
    </div>
      <h2 class="title">{{ review.title }}</h2>
    <div class="rating">
      <span class="stars">
        <i *ngFor="let i of [].constructor(review.score)" class="fa-solid fa-star score"></i>
      </span>
    </div>
    <p class="description">{{ review.description }}</p>
    <div class="likes-dislikes">
    <i class="fa-solid fa-thumbs-up" id="thumbs-up" (click)="likeReview()" [ngClass]="{'liked': liked, 'thumbs-up': !liked}"></i>
    <span>{{ review.likes }}</span>
    <i class="fa-solid fa-thumbs-down" id="thumbs-down" (click)="dislikeReview()" [ngClass]="{'disliked': disliked}"></i>
    <span>{{ review.dislikes }}</span>
  </div>
    <!-- Review actions -->
    @if ((loggedInUser | async)?.id === review.userId ) {
    <div class="review-actions">
      <button class="editButton" (click)="editReview()">Edit Review</button>
      <button class="deleteButton" (click)="deleteReview()">Delete Review</button>
    </div>
    }
  </div>
</div>

<!-- Edit/Create Review Modal -->

<div class = "edit-container" *ngIf="(showModal && editMode && !showMode)">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="review-container-edit">
      <h2 class="edit-title">{{ isNewReview ? 'Create Review' : 'Edit Review' }}</h2>
      <div class="user-info">
        <input id="title" placeholder="Title" required type="text" [(ngModel)]="review.title">
        <textarea id="description" placeholder="Description" required type="text"
          [(ngModel)]="review.description"></textarea>
        <input type="number" id="score" placeholder="Score" required [(ngModel)]="review.score" min="0" max="5"> / 5
        <button class="submitBtn" (click)="createOrUpdateReview()">{{ !isNewReview ? 'Update' : 'Create' }} Review</button>
      </div>

    </div>
  </div>
</div>
