<head>
    <title>Table nav</title>
    <link rel="stylesheet" href="../content-page.component.css">

</head>
<section class="navbar-main-content">
    <nav class="content-navbar">
        <a id="characters-anchor">Characters</a>
        <a id="episodes-anchor">Episodes</a>
    </nav>
    <section class="episodes">
        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>

        </article>
        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>
        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>

        </article>
        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>

        </article>
        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>

        <article class="episode">
            <div class="anime-episode-container">
                <p class="episode-number">Text</p>
                <p class="episode-name">Text</p>
                <p class="episode-duration">Text</p>
                <p class="episode-aired">Text</p>
            </div>
        </article>
    </section>
</section>