<article class="comment lvl{{comment.level}}">

    <a [routerLink]="['/profile', '/', comment.userId]" routerLinkActive="router-link-active"> {{comment.username}}</a>
    <p>{{comment.body}}</p>
    <p>{{comment.timestamp}}</p>

    @if (loggedInUser | async) { <button (click)="edit()">Editar</button>}
    @if(comment.level == 0){<button **ngIf="" (click)="addComment()">Comentar</button>}

    @if (comment.comments && comment.comments.length > 0) {
    <div class="comment-container" *ngFor="let comment of comment.comments">
        <app-comment [comment]="comment"></app-comment>
    </div>
    }

</article>