<head>
    <title>Anime Page With Episodes Tab</title>
    <link rel="stylesheet" href="../content-page.component.css">

</head>
<section class="top-image">
    <img alt="A wide image based on the anime show that displays in the top part of the page."
        title="A wide image based on the anime" src="../../../../assets/images/frieren.jpg">
</section>
<section class="top-cover-image-and-description">
    <script src="../../../../node_modules/fontawesome/generate.js" crossorigin="anonymous"></script>
    <section class="top-description-and-buttons">
        <section class="cover-name">
            <p>{{ title }}</p>
            <img alt="" title="" src="../../../../assets/images/shoujo-shuumatsu.jpeg">
        </section>
        <p class="anime-description">{{ description }}</p>
        <section class="anime-score-container">
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            <p>5</p>
        </section>
        <section class="button-palette">
            <select class="rate-container">
                <i class="fa-solid fa-arrow-down" aria-hidden="true"></i>
                <option value="option1">Add</option>
                <option value="option2">Option 1</option>
                <option value="option3">Option 2</option>
                <option value="option3">Option 3</option>

            </select>
            <select class="addList-container">
                <option value="option1">Text</option>
                <option value="option2">Option 1</option>
                <option value="option3">Option 2</option>
                <option value="option3">Option 3</option>

            </select>
            <div class="favourite-container">
                <button type="button" class="fa fa-heart" aria-hidden="true"></button>
            </div>
        </section>
    </section>
</section>