<div id="overlay"></div>
<section class="container-edit-profile">
  <span class="edit-profile-header">
    <h1>Edit Profile</h1>
    <i aria-hidden="true" class="fa fa-times" id="closeBtn" (click)="closeEdit()"></i>
  </span>
  <div class="left-section">
    <section class="container-edit-details">
      <span class="edit-details-header">
        <h2>Edit Details</h2>
      </span>
      <form [formGroup]="editDetailsForm" (ngSubmit)="submitForm()" class="edit-details-form">
        <label class="container-form-label">
          <input class="container-form-input" id="username" formControlName="username"
                 placeholder='{{username}}' type="text"
                 [(ngModel)]="username"
                 [ngClass]="{'valid': editDetailsForm.get('username')?.valid, 'invalid': editDetailsForm.get('username')?.invalid && (editDetailsForm.get('username')?.dirty || editDetailsForm.get('username')?.touched)}">
        </label>

        <div *ngIf="editDetailsForm.get('username')?.invalid && (editDetailsForm.get('username')?.dirty || editDetailsForm.get('username')?.touched)" class="alert">
          <div *ngIf="editDetailsForm.get('username')?.errors?.['required']" class="error-message">Username is required.</div>
          <div *ngIf="editDetailsForm.get('username')?.errors?.['minlength']" class="error-message">Username must be at least 2 characters long.</div>
          <div *ngIf="editDetailsForm.get('username')?.errors?.['usernameExists']" class="error-message">Username already exists.</div>
        </div>

        <label class="edit-details-form-label">
          <input class="container-form-input" id="email" formControlName="email"
                 placeholder="{{email}}" type="email"
                 [(ngModel)]="email"
                 [ngClass]="{'valid': editDetailsForm.get('email')?.valid, 'invalid': editDetailsForm.get('email')?.invalid && (editDetailsForm.get('email')?.dirty || editDetailsForm.get('email')?.touched)}">
        </label>
        <div *ngIf="editDetailsForm.get('email')?.invalid && (editDetailsForm.get('email')?.dirty || editDetailsForm.get('email')?.touched)" class="alert">
          <div *ngIf="editDetailsForm.get('email')?.errors?.['required']" class="error-message">Email is required.</div>
          <div *ngIf="editDetailsForm.get('email')?.errors?.['email']" class="error-message">Invalid email format.</div>
          <div *ngIf="editDetailsForm.get('email')?.errors?.['emailExists']" class="error-message">Email already exists.</div>
        </div>
        <label class="container-form-label" for="description">
          <textarea class="container-form-input form-control" id="description" formControlName="description"
                    placeholder="{{description}}" minlength="10" maxlength="500" type="text"
                    [(ngModel)]="description"
                    [ngClass]="{'valid': editDetailsForm.get('description')?.valid, 'invalid': editDetailsForm.get('description')?.invalid && (editDetailsForm.get('description')?.dirty || editDetailsForm.get('description')?.touched)}">
          </textarea>
        </label>
        <div *ngIf="editDetailsForm.get('description')?.invalid && (editDetailsForm.get('description')?.dirty || editDetailsForm.get('description')?.touched)"
             class="alert">
          <div *ngIf="editDetailsForm.get('description')?.errors?.['minlength']" class="error-message">description must be at least 10 characters long.</div>
          <div *ngIf="editDetailsForm.get('description')?.errors?.['maxlength']" class="error-message">description can't be more than 500 characters long.</div>
        </div>
        <button class="container-form-button" type="submit">Update</button>
      </form>
    </section>
    <section class="container-edit-password">
      <span class="edit-password-header">
        <h2>Edit Password</h2>
      </span>
      <form [formGroup]="editPasswordForm" (ngSubmit)="updatePassword()" class="edit-password-form">
        <label class="container-form-label" for="password">
          <input class="container-form-input" id="password" formControlName="password" placeholder="Enter your password"
                 required type="password"
                 [ngClass]="{'valid': editPasswordForm.get('password')?.valid, 'invalid': editPasswordForm.get('password')?.invalid && (editPasswordForm.get('password')?.dirty ||editPasswordForm.get('password')?.touched)}">
        </label>
        <div *ngIf="editPasswordForm.get('password')?.invalid && (editPasswordForm.get('password')?.dirty || editPasswordForm.get('password')?.touched)"
             class="alert">
          <div *ngIf="editPasswordForm.get('password')?.errors?.['required']" class="error-message">Password is required.</div>
          <div *ngIf="editPasswordForm.get('password')?.errors?.['pattern']" class="error-message">Invalid password format. Password
            must contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long.
          </div>
        </div>
        <label class="container-form-label" for="repeat_password">
          <input class="container-form-input" id="repeat_password" formControlName="repeat_password"
                 placeholder="Repeat your password" required type="password"
                 [ngClass]="{'valid': editPasswordForm.get('repeat_password')?.valid, 'invalid': editPasswordForm.get('repeat_password')?.invalid && (editPasswordForm.get('repeat_password')?.dirty || editPasswordForm.get('repeat_password')?.touched)}">
        </label>
        <div *ngIf="editPasswordForm.hasError('passwordMismatch')" class="alert">
          <div class="error-message">Passwords do not match.</div>
        </div>
        <button class="container-form-button" type="submit">Update</button>
      </form>
    </section>
  </div>
  <section class="container-edit-pfp">
    <span class="edit-pfp-header">
      <h2>Edit Profile Picture</h2>
    </span>
    <div class="edit-profile-button-group">
      <form [formGroup]="editPfpForm" (ngSubmit)="updateProfilePicture()" class="edit-pfp-form">
        <input accept="image/*" class="container-choose-image-button" (change)="onProfileImageChange($event)" formControlName="profileImage" type="file"

               [ngClass]="{'valid': editPfpForm.get('profileImage')?.valid, 'invalid': editPfpForm.get('profileImage')?.invalid && (editPfpForm.get('profileImage')?.dirty || editPfpForm.get('profileImage')?.touched)}">
        <img *ngIf="imageUrl" class="container-chosen-image" [src]="imageUrl" alt="Selected Image">
        <div *ngIf="editDetailsForm.get('profileImage')?.invalid && (editDetailsForm.get('profileImage')?.dirty || editDetailsForm.get('profileImage')?.touched)"
             class="alert">
          <div *ngIf="editDetailsForm.get('profileImage')?.errors?.['required']" class="error-message">choose a valid pfp</div>
        </div>
        <button class="container-form-button" type="submit">Update</button>
      </form>
    </div>
  </section>
  <button class="deleteProfile" (click)="deleteProfile()">Delete Profile</button>
</section>
