<!-- Review Display Section -->

@if ( showMode && !editMode) {
<div class="review-container">
    <div class="user-info">
      <p class="userName">By: {{ userName ? userName : 'Unknown' }}</p>
    </div>
    <h2 class="title">{{ review.title }}</h2>
    <div class="rating">
        <span class="stars">
          <p> Score: {{review.score}}</p>
          <i *ngFor="let i of [].constructor(review.score)" class="fa-solid fa-star"></i>
        </span>

    </div>
    <p class="description">{{ review.description }}</p>
    <div class="likes-dislikes">
      <i class="fa-solid fa-thumbs-up"></i>
      <span>{{ review.likes }}</span>
      <i class="fa-solid fa-thumbs-down"></i>
      <span>{{ review.dislikes }}</span>
    </div>
    @if (isReviewOwner()) {
      <div class="review-actions">

        <button class="editButton" (click)="createOrUpdateReview()">Edit Review</button>
        <button class="deleteButton" (click)="deleteReview()">Delete Review</button>
      </div>
    }
  </div>
} @else if (showModal && editMode){
  <div class="modal" [ngClass]="{'show': showModal}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>

      <div class="review-container">
        <div class="user-info">

        <h2> Edit Review</h2>

          <input id="title"  placeholder="title" required type="text" min="2" max="20" [(ngModel)]="review.title">
          <textarea id="description"  placeholder="description" required type="text" minlength="10" maxlength="200" [(ngModel)]="review.description"></textarea>
          <input type="number" id="score" placeholder="0" required [(ngModel)]="review.score" min="0" max="5"> / 5
      </div>
      </div>
          <button class="submitBtn" (click)="createOrUpdateReview()">{{ review.id ? 'Update' : 'Create' }} Review</button>

      </div>
    </div>
}
