/* Modal Container */
.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 9999;
  margin-top: -18px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Review Display Section */
.review-container {
  margin-bottom: 20px; /* Adjust bottom margin */
}

.review-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  margin-bottom: 20px;
}

.user-info {
  margin-bottom: 10px;
}

.rating {
  color: orange;
}

.likes-dislikes {
  margin-top: 10px;
}
