.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.49);
  /* Add animation for smooth appearance */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center; /* Center vertically and horizontally */
}
#title , #description {
  width: 90%;
  padding: 1em 2em;
  margin: 1em 0;
  display: inline-block;
  border: 0.2em solid #ccc;
  border-radius: 0.5em;
  box-sizing: border-box;
}
#title:focus, #description:focus {
  border-color: #000000;
  outline: none;
}
#rating {
  width: 90%;
  padding: 1em 2em;
  margin: 1em 0;
  display: inline-block;
  border: 0.2em solid #ccc;
  border-radius: 0.5em;
  box-sizing: border-box;
}
#rating:focus {
  border-color: #000000;
  outline: none;
}
/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  max-width: 35%;
  border: 1px solid #888;
  border-radius: 2em;

}


/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 9999;
  margin-top: -18px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Review Display Section */
.review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #efeaea;
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.user-info {
  width: 80%;

}
.review-card {
  padding: 20px;
  border: 1px solid #969494;
  border-radius: 5px;
  background: #dedede;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add shadow to cards */
}
.userName{
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  padding: 0.5em;
  border-bottom: 0.3em solid #ffffff;
}

.description {
  color:black;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 1em 1.5em;

}
.rating .stars {
  display: flex;
  flex-flow: row wrap;
  color: orange;
  gap: 0.5em;
  font-size: 1em;
  margin: 0.5em 0;
}
.title {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  padding: 0.5em;
}
.likes-dislikes {
  color:black;
  display: flex;
  gap: 1em;
  padding: 2em;
  font-size: 14px; /* Adjust font size */
}
.review-actions{
  display: flex;
  gap:2em;
  align-items: center;
  margin-top: 1em;
}
.deleteButton {
  background-color: #f44336;
  color: white;
  margin: 1em 1em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #f44336;
  color: white;
}
.editButton, .submitBtn{
  background-color: #4CAF50;
  color: white;
  margin: 1em 1em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.editButton:hover .submitBtn  {
  background-color: #4CAF50;
  color: white;
}

