<div class="review-container">
  <h2>{{ title }}</h2>
  <div class="rating">
    <p>{{ score }}</p>
  </div>
  <p>By: {{ Users.findById(user)?.username }}</p>
  <p>{{ description }}</p>

  <div class="likes-dislikes">
    <i class="fa-solid fa-thumbs-up" (click)="likeReview()">Like</i>

    <span>Likes: {{ likes }}</span>
    <i class="fa-solid fa-thumbs-down" (click)="dislikeReview()">Dislike></i>
    <span>Dislikes: {{ dislikes }}</span>
  </div>

  <div *ngIf="isReviewOwner()">
    <button (click)="editReview()">Edit Review</button>
    <button (click)="deleteReview()">Delete Review</button>
  </div>

  <!-- Create Review Section -->
  <div *ngIf="!id">
    <h3>Create New Review</h3>
    <div>
      <label for="userId">User ID:</label>
      <input type="text" id="userId" [(ngModel)]="user">
    </div>
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="title">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="description"></textarea>
    </div>
    <div>
      <label for="score">Score:</label>
      <input type="number" id="score" [(ngModel)]="score">
    </div>
    <div>
      <button (click)="createReview()">Create Review</button>
    </div>
  </div>
</div>
