<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Page With Episodes Tab</title>
    <meta name="description" content="A page to hold the data, information and resources to a concrete anime show. Including Episodes Content">
    <link rel="stylesheet" href="./content.component.css">
    
</head>
<body id="episodes-anime-body">
    <main>
        <app-cabecera></app-cabecera>
        
        <section class="aside-main-content-container">
            <aside class="aside-anime-information">
                <section class="anime-info-container">
                    <article class="anime-data">
                        <p>Text</p>
                        <p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p>
                        <p>Text</p>
                    </article>
                    <article class="anime-data">
                            <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                    <article class="anime-data">
                        <p>Text</p><p>Text</p>
                    </article>
                </section>
            </aside>
            <section class="navbar-main-content">
                <nav class="content-navbar">
                    <a id="characters-anchor">Characters</a>
                    <a id="episodes-anchor">Episodes</a>
                </nav>
                <section class="episodes">
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    
                    </article>
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div> 
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    
                    </article>
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    
                    </article>
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>

                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                    
                    <article class="episode">
                        <div class="anime-episode-container">
                            <p class="episode-number">Text</p>
                            <p class="episode-name">Text</p>
                            <p class="episode-duration">Text</p>
                            <p class="episode-aired">Text</p>
                        </div>
                    </article>
                </section>             
            </section>          
        </section>
    <section class="comments-section">
        <app-comments></app-comments>
    </section>

</main>

</body>
</html>
