<div class="review-content">
  <button (click)="toggleReviewCreation()">Create Review</button>


  <!-- Render the the reviews from reviews -->
  <div *ngIf="areReviewsVisible && !isReviewCreationOpen"   class="review-container">

    <div *ngFor="let reviewId of reviewIds" class="review">
      <app-review [reviewId]="reviewId"   (reviewModalClosed) ="handleReviewModalClosed()" (reviewDeleted)="handleReviewDeleted($event)" (reviewUpdated)="updateReview($event)"></app-review>
    </div>
  </div>



  <app-review *ngIf="isReviewCreationOpen"  (reviewModalClosed) ="handleReviewModalClosed()" [isNewReview]=true class="review"
    (newReview)="pushReview($event)"></app-review>

</div>
