<nav class="content-navbar">
    <article *ngFor="let item of informationNav; let i = index" class="anime-data" [class.selected]="selectedIndex === i" >
        <a (click)="showHide(i)">{{ item }}</a>
    </article>
    
</nav>
<section *ngIf="start">
    <app-characters></app-characters>
</section>
<section *ngIf="showCharacters">
    <app-characters></app-characters>
</section>
<section *ngIf="showEpisodes">
    <app-episodes></app-episodes>
</section>
<section *ngIf="showComments">
    <app-comments></app-comments>
</section>
<section *ngIf="showReviews">
    <app-review></app-review>
</section>