.content-navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #1d1d1f;
    height: 1.75cm;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
}

.content-navbar a {
    cursor: pointer;
}