#ranking-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: var(--black-mo);
    color: var(--snow-color);
    height: 4rem;
    box-shadow: var(--black-box-shadow);
}

#ranking-header p {
    flex: 1;
    align-content: center;
    height: 100%;
    font-size: large;
    text-align: center;
}

@media screen and (width < 35rem) {
    p:nth-child(4){
        display: none;
    }
}