

.anime-character-container {
    display: flex;
    position: relative;
    margin-top: 0.5%;
    background: #1d1d1f;
    box-shadow: 0 0 3px black;
    min-height: 8cm;
    max-height: 8cm;
}
p{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    width: 75%;
    height: 50%;
    margin-bottom: 30px;
    top: 40%;
    color: white;
    text-align: center;
    overflow: scroll;
}

.img-character {
    position: absolute;
    width: 60px;
    height: 70px;
    top: 70%;
    left: 34%;
    border-radius: 20px;
}


.anime-character-container .character-description {
    position: absolute;
    font-size: 20px;
    width: 75%;
    height: 50%;
    top: 50%;
    color: white;
    text-align: center;
    overflow: scroll;
    word-spacing: .2rem;
}

.characters .anime-character-name-image {
    box-sizing: border-box;
    min-height: 8cm;
    width: 100%;
    height: 100%;
    top: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.anime-character-name-image img {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    right: 0.5%;
}

.anime-character-name-image a {
    position: absolute;
    width: 75%;
    text-align: center;
    margin-top: 3%;
    color: white;
    background-color: #1d1d1f;
    top: 25%;
}

a {
    text-shadow: 2px 2px 4px rgba(34, 31, 31, 0.5); /* sombra de texto */

    font-size: 30px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}