.comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

app-comment-form {
    width: 90%;
    margin: 1rem 0 2rem 0;
}

.comments-list {
    width: 90%;
    max-height: 75rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}